.wrapper_chat_item {
  position: relative;
  margin: 15px 0;

}
.wrapper_chat_item a {
  text-decoration: none;
  color: rgb(91, 91, 91);
  font-weight: bold;
}
.button_delete_chat {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  border: none;
  background: darkgrey;
  cursor: pointer;
  opacity: 0.2;
}
.wrapper_chat_item:hover .button_delete_chat {
  opacity: 1;
}
.current-message {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  color: white;
  background: #61dafb;
}