.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

form {
  display: flex;
  justify-content: center;
}

.wrapper-content {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}
.content-flex {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.content-flex > div {
  width: 60%;
  margin-left: 10px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ebebeb9c;
}
.content-flex > div:first-child {
  width: 40%;
  background: #ebebeb9c;
  border-radius: 5px;
  }

.wrapper-row, .wrapper-row-me, .wrapper-row-bot {
  padding: 10px;
}
.wrapper-row-me {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.wrapper-row-bot {
  text-align: left;
}
.wrapper-row:hover, .message-p:hover {
  background: #ececec;
  cursor: pointer;
}
.wrapper-links {
  display: flex;
  width: 100%;
  background: rgba(66, 66, 66, 1);
}
.wrapper-links > a {
  background: rgba(66, 66, 66, 1);
  color:#61dafb;
  font-weight: 300;
  text-decoration:none;
  display:block;
  min-width:100px;
  text-align:center;
  padding:10px 10px;
  transition:all 0.3s;
  }

.wrapper-links a:hover{
  box-shadow:0px -5px 0 #61dafb inset;
}
.message-span {
  font-size: 16px;
}
.message-top {
  font-size: 20px;
  margin-bottom: 5px;
}
.message-p {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  margin-right: 0px;
  box-sizing: border-box;
  font-size: 24px;
  min-width: 77px;
  max-width: 350px;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper_chat_item {
  position: relative;
  margin: 15px 0;
}
.button_delete_chat {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  border: none;
  background: darkgrey;
  cursor: pointer;
}
.current-message {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  color: white;
  background: #61dafb;
}